<?xml version="1.0" encoding="UTF-8"?>
<configuration status="off" monitorInterval="1800">
    <properties>
        <property name="Pattern_Layout">%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n</property>
    </properties>

    <appenders>
        <!-- 控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${Pattern_Layout}"/>
        </Console>
    </appenders>

    <loggers>
        <logger name="cn.elvea" level="DEBUG"/>
        <logger name="org.springframework" level="WARN"/>
        <logger name="org.hibernate" level="WARN"/>
        <logger name="org.apache.shiro" level="WARN"/>

        <Root level="WARN">
            <AppenderRef ref="Console"/>
        </Root>
    </loggers>
</configuration>